<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikuak Kudeatu</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Ruslan+Display"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="{% url 'page-default' %}">Medikuak Kudeatu</a></h1>
      </div>

      <nav>
        <ul class="nav nav-pills">
          <li><a href="{% url 'medikua-default' %}">Guztiak Ikusi</a></li>
          <li><a href="{% url 'medikua-new' %}">Berria Gehitu</a></li>
          <li><a href="{% url 'medikua-edit' %}">Editatu</a></li>
          <li><a href="{% url 'medikua-delete' %}">Medikua Borratu</a></li>
        </ul>
      </nav>

      <div class="content">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            <h2>Medikuen zerrenda</h2>
            <ul>
              {% for medikua in medikuak %}
              <li>{{ medikua }}</li>
              {% endfor %}
            </ul>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
